<!doctype html>
<html lang="es">

<head>
    <title>FestApp</title>
</head>

<body>
    <div th:fragment="vipform">
        <div class="col-12 d-flex justify-content-center">
            <form method="POST" th:action="@{/admin/addVip/submit}" th:object="${vipform}" id="register"
                class="col-12 col-md-5">
                <br>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputName">Nombre</label>
                        <input type="text" size="20" class="form-control" id="inputName" aria-describedby="nameHelp"
                            placeholder="Introduzca su nombre" required th:field="*{name}">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputSurname">Numero Vip</label>
                        <input type="number" class="form-control" id="inputSurname" aria-describedby="surnameHelp"
                            placeholder="Introduzca marca" required th:field="*{numVip}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputSurname">Numero Personas</label>
                        <input type="text" class="form-control" id="inputNumTicket" aria-describedby="surnameHelp"
                            placeholder="Introduzca marca" required th:field="*{numPersons}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputUser">Precio</label>
                        <input type="number" class="form-control" id="inputPrice" aria-describedby="priceHelp"
                            placeholder="0" required th:field="*{price}">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputUser">Stock</label>
                        <input type="number" class="form-control" id="inputStock" aria-describedby="stockHelp"
                            placeholder="0" required th:field="*{stock}">
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputUser">Descripcion</label>
                        <input type="text" class="form-control" id="inputUser" aria-describedby="userHelp"
                            placeholder="Introduzca su nombre de usuario" required th:field="*{description}">
                    </div>
                </div>
                   

                    <!--Sumbit-->
                    <div class="form-group col-md-2 d-flex justify-align-right">
                        <input class="btn btn-primarym registerb" type="submit" value="Submit" />

                    </div>
                </div>
            </form>


        </div>
    </div>
</body>

</html>