<!doctype html>
<html lang="es">

<head>
    <title>FestApp | Inicio</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/mainStyle.css">
</head>

<body>
    <!--Header-->
    <header th:insert="fragments/frag-header.html :: header">
    </header>
    <!--Section-->
    <canvas id="canvas-basic"></canvas>
    <section>
        <div class="row w-25 p-3"></div>
        <div class="row w-25 p-3"></div>
        <div class="row w-25 p-3"></div>
        <div class="row w-25 p-3"></div>
        <div class="row w-25 p-3"></div>
        <div class="container">
            <form action="#" th:action="@{/products/list}" method="GET">
                <input type="text" name="nombre" placeholder="Buscar Por Nombre"
                    style="margin-left: 5%; padding: 4px;" />
                <button class="btn- btn-danger" type="submit" style="padding: 4px;">
                    <span class="glyphicon glyphicon-search">🔎</span>
                </button>
            </form>
            <div class="row">
                <div class="col-6 col-md-3" th:each="product : ${productos}">
                    <figure class="card card-product">
                        <div class="img-wrap">
                                <span th:if="${product.imgUrl == null}"> <img th:src="@{/images/null.jpg}" class="card-img-top mt-3 img-fluid mx-auto img-responsive img-thumbnail"/></span>
                                <span th:unless="${product.imgUrl == null}"><img th:src="@{/images/}+${product.imgUrl}" class="card-img-top mt-3 img-fluid mx-auto img-responsive img-thumbnail"/></span>
                            </div>
                        <figcaption class="info-wrap">
                            <h4 class="title" th:text="${product.name}"></h4>
                            <p class="desc" th:text="${product.description}"></p>
                        </figcaption>






                        <div class="bottom-wrap">
                            <a href="" class="btn btn-sm btn-primary float-right" th:href="@{/cart/add/{id}(id=${product.id})}">Añadir</a>
                            <div class="price-wrap h5">
                                <span class="price-new" th:text="${product.price}"></span>€
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-1 mx-auto">
                <select class="form-control pagination" id="pageSizeSelect">
                    <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                        th:selected="${pageSize} == ${selectedPageSize}"></option>
                </select>
            </div>

            <div class="col-3"></div>
            <div class="col-4" style="text-align: center;">
                <nav aria-label="Page navigation example mx-auto">
                    <ul th:if="${productos.totalPages != 1}" class="pagination pagination-circle pg-blue">
                        <li th:class="${productos.number == 0} ? disabled" class="page-item disabled">
                            <a th:href="@{/products/list/(pageSize=${selectedPageSize}, page=1)}"
                                class="page-link">First</a>
                        </li>

                        <li th:class="${productos.number == 0} ? disabled" class="page-item disabled"></li>
                        <a th:href="@{/products/list/(pageSize=${selectedPageSize}, page=${productos.number})}"
                            class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&larr;</span>
                        </a>
                        </li>

                        <li th:class="${productos.number == (page - 1)} ? 'active pointer-disabled'"
                            class="page-item active" th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                              <a th:href="@{/products/list/(pageSize=${selectedPageSize}, page=${page})}" class="page-link" th:text="${page}">1</a>
                            </li>
                  
                          <li th:class="${productos.number + 1 == productos.totalPages} ? disabled" class="page-item">
                              <a th:href="@{/products/list/(pageSize=${selectedPageSize}, page=${productos.number + 2})}" class="page-link">&rarr;</a>
                            </li>
                          
                          <li th:class="${productos.number + 1 == productos.totalPages} ? disabled" class="page-item">
                              <a th:href="@{/products/list/(pageSize=${selectedPageSize}, page=${productos.totalPages})}" class="page-link">Last</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-4"></div>
            </div>
    </section>
    <div class="row w-25 p-3"></div>
    <div class="row w-25 p-3"></div>
    <div class="row w-25 p-3"></div>
    <div class="row w-25 p-3"></div>
    <!--Footer-->
    <footer th:insert="fragments/frag-footer.html :: footer"></footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Poppers.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/granim.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>

</body>

</html>